/* Indicators Container */
.carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* Individual Indicator Style */
.indicator {
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 0 7px;
    cursor: pointer;
    opacity: 0.5;
}

/* Active Indicator Style */
.indicator.active {
    opacity: 1;
}

/* Responsive Adjustments for Tablets and Larger Screens */
@media (max-width: 768px) {
    .indicator {
        width: 12px;
        height: 12px;
        margin: 0 5px;
    }
}

/* Responsive Adjustments for Mobile Screens */
@media (max-width: 480px) {
    .indicator {
        width: 8px;
        height: 8px;
        margin: 0 3px;
    }
}