.trailers-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    margin: 20px auto;
    justify-content: center;
}

.trailer-item {
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
    text-align: center;
    background-color: #04060a;
    color: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 200px;
    height: auto;
}

.trailer-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.trailer-item h3 {
    font-size: 1em;
    margin-bottom: 10px;
}

/* Responsive Adjustments for Trailer Items */
@media (max-width: 600px) {
    .trailer-item {
        flex: 1 1 calc(50% - 10px);
        padding: 5px;
    }

    .trailer-item h3 {
        font-size: 0.9em;
    }

    .trailers-container::after {
        content: "";
        display: block;
        flex: 1 1 100%;
        width: 0;
        height: 0;
    }

    .trailers-container> :last-child {
        display: none;
    }
}